.pictures__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.pictures__emptyPictures {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 3px dashed grey;
  background-color: lightgrey;
  margin: 10px;
}
.pictures__addIcon {
  width: 50px;
  height: 50px;
}
.pictures__inputs {
  width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
  position: absolute;
  border-radius: 10px;
}
.pictures__pictureContainer {
  position: relative;
  height: 150px;
  margin: 10px;
  width: 150px;
}
.pictures__picture {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.pictures__loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 5;
}