.Finder__intervalContainer {
  width: 40%;
}
.Finder__tagContainer {
  margin-top: 30px;
}
.Finder__displayRowCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.Finder__searchTitle {
  margin-bottom: 30px;
  font-size: 16px;
  color: grey;
  opacity: 0.7;
}
.Finder_MenuItems {
  display: flex;
  align-items: center;
  align-content: center;
}