.ProfilView__pseudo {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 4px;
}
.ProfilView__bio {
  margin: 30px;
  font-size: 16px;
  max-width: 600px;
}

.ProfilView__tags {
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
