.Signup__inputsColumnContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.Signup__inputsRowContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}